.wrapper{
    margin-left: 40px;
    margin-top: 50px;
    width: 60%;
}

.header{
    display: flex;
    justify-content: flex-end;
}

.box-username{
    border: 1px solid green;
    padding:15px 10px 15px 10px;
}

.post-container{
    display: flex;
    justify-content: space-between;
}

.button-add-post{
    align-self: flex-end;
}