/*Button*/

/*Header*/
.box-username{
    border: 1px solid green;
    padding: 10px 5px 10px 5px;
}

.header{
    display: flex;
    justify-content: flex-end;
}

/*Card*/
.card-section{
  border: 1px solid #A9A9A9;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  width: 100%
}

.card-username{
    color: #7F7F7F;
    margin-bottom:0.438rem;
    font-size: 0.938rem;
}

.card-username span{
    margin-left: 1.25rem;
}

.card-message{
    margin-bottom: 0.438rem;
    font-size: 0.938rem;
}
.card-comment-like{
  display: flex;
  justify-content: flex-start;
  gap: 0.938rem;
}

.card-comment-like div{
  display: flex;
  align-items: center;
  gap: 0.125rem;
}


/*Input*/



input {
    outline: none;
    padding-left:20px;
}

::placeholder {
    color: #bfb9b9;
    font-weight: bold;
    font-size: 15px;
}


/*Modal*/
.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.3);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 400px;
  height: 350px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}